@import "../../theme/theme.scss";

.auth-page {
	@include themify($themes) {
		display: flex;
		height: 100vh;
		width: 100%;

		/* @media (max-width: 900px) {
			flex-direction: column !important;
			height: auto;
			gap: 10px;
		} */

		.auth-container {
			width: 42vw;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			position: relative;

			.redirect-back {
				position: absolute;
				top: 20px;
				left: 20px;

				.logo {
					cursor: pointer;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;

					@media (max-width: 600px) {
						padding-left: 50px;
					}

					h6 {
						font-size: 20px;
						font-family: sans-serif;
						font-weight: 600;
						line-height: 1;
						color: rgb(26, 26, 26);

						@media (max-width: 600px) {
							font-size: 17px;
						}
					}

					p {
						font-size: 11px;
						font-weight: 600;
						text-align: center;
						color: $main;
					}
				}
			}

			@media (max-width: 800px) {
				width: 100%;
			}

			.auth {
				display: flex;
				flex-direction: column;
				gap: 30px;
				width: 100%;
				max-width: 400px;

				.auth-title {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					h3 {
						color: $main;
						//	font-size: clamp(23px, 3vw, 28px);
					}

					h1 {
						font-size: clamp(23px, 3vw, 35px);
					}
				}

				form {
					display: flex;
					flex-direction: column;
					gap: 30px;
					width: 100%;
					max-width: 400px;
				}

				.auth-form-container {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.auth-form {
						display: flex;
						flex-direction: column;
						gap: 5px;

						.forgot-pass {
							font-size: 15px;
							color: $main;
							cursor: pointer;
							margin-top: 5px;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.or-container {
					position: relative;
					width: 100%;
					height: 1px;
					background-color: themed("hover");

					p {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 30px;
						height: 20px;
						font-size: 11px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: themed("background");
					}
				}

				.direct-btn {
					padding: 10px;
					background-color: $main;
					border: 0;
					cursor: pointer;
					border-radius: 6px;

					&:disabled {
						background-color: $mainDisabled;
						cursor: not-allowed;
					}

					p {
						color: white;
					}
				}

				.google-btn {
					padding: 10px;
					background-color: white;
					border: 1px solid themed("border");
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 15px;

					p {
						font-size: 17px;
					}

					.google-icon {
						font-size: 16px;
					}
				}

				.redirect-container {
					display: flex;
					align-items: center;
					justify-content: center;

					p {
						font-size: 16px;

						span {
							color: $main;
							cursor: pointer;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
