@import "../../../../theme/theme.scss";

.page-header {
	@include themify($themes) {
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px solid themed("hover");
		display: flex;
		align-items: center;
		justify-content: space-between;

		.group {
			display: flex;
			line-height: 28px;
			align-items: center;
			position: relative;
			width: 250px;

			@media (max-width: 400px) {
				width: 50vw;
			}

			@media (max-width: 300px) {
				display: none;
			}

			.input {
				width: 100%;
				height: 30px;
				line-height: 28px;
				padding: 0 1rem;
				padding-left: 2.5rem;
				border: 1px solid themed("hover");
				border-radius: 6px;
				outline: none;
				background-color: themed("glass");
				color: themed("paragraphColor");
				transition: 0.3s ease;
				font-family: var(--font-cormorant);
			}

			input[type="search"]::-webkit-search-cancel-button {
				-webkit-appearance: none;
				display: inline-block;
				cursor: pointer;
				width: 10px;
				height: 10px;
				margin-left: 5px;
				background: linear-gradient(
						45deg,
						rgba(0, 0, 0, 0) 0%,
						rgba(0, 0, 0, 0) 43%,
						#6f6f6f 45%,
						#6f6f6f 45%,
						rgba(0, 0, 0, 0) 57%,
						rgba(0, 0, 0, 0) 100%
					),
					linear-gradient(
						135deg,
						transparent 0%,
						transparent 43%,
						#6f6f6f 45%,
						#6f6f6f 45%,
						transparent 57%,
						transparent 100%
					);
			}

			.input::placeholder {
				color: #9e9ea7;
			}

			.input:focus {
				outline: none;
				background-color: themed("background");
			}

			.icon {
				position: absolute;
				left: 1rem;
				fill: #9e9ea7;
				width: 1rem;
				height: 1rem;
			}
		}

		.header-btn {
			p {
				font-size: 11px;
				color: white;
				text-transform: lowercase;
			}

			.header-icon {
				font-size: 15px;
			}
		}
	}
}
