@import "./../../theme/theme.scss";

.hero {
	@include themify($themes) {
		width: 100%;
		height: 100vh;

		.hero-container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;

			.title {
				h1 {
					font-size: 3rem;
					text-align: center;
				}
			}
			.description {
				p {
					font-size: 1.2rem;
					text-align: center;
					max-width: 600px;
				}
			}

			.button-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 20px;
			}
		}
	}
}
