@import "./../../../../theme/theme.scss";

.split-layout {
	@include themify($themes) {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
		height: 500px;

		@media (max-width: 900px) {
			flex-direction: column !important;
			height: auto !important;
			gap: 10px;
		}

		.split-left {
			flex: 1;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media (max-width: 900px) {
				justify-content: flex-start !important;
				flex: none;
				height: auto !important;
				width: clamp(100px, 95vw, 600px);
			}
		}

		.split-right {
			flex: 1;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			@media (max-width: 900px) {
				justify-content: flex-start !important;
				flex: none;
				height: auto !important;
				width: clamp(100px, 95vw, 600px);
			}
		}

		/* button {
			padding: 8px 24px;
			border: 0;
			background: rgb(132, 108, 247);
			background: linear-gradient(
				112deg,
				rgba(132, 108, 247, 1) 8%,
				rgba(177, 47, 156, 1) 100%
			);
			border-radius: 30px;
			cursor: pointer;

			p {
				color: white;
			}

			transition: all 3s;

			&:hover {
				background: rgb(132, 108, 247);
				background: linear-gradient(
					160deg,
					rgba(132, 108, 247, 1) 8%,
					rgba(177, 47, 156, 1) 100%
				);
			}
		} */
	}
}
