@import "./../theme/theme.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

//-------

::-webkit-scrollbar {
	width: 3px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: rgba(114, 114, 114, 0.605);
	border-radius: 5px;
}

.pages {
	width: 100%;
}

//-----------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	font-family: var(--font-Open_Sans);
}

a {
	color: inherit;
	text-decoration: none;
	font-family: inherit;
}

ul li {
	list-style-type: none;
}

$lightText: rgba(50, 50, 50, 0.759);
$darkText: rgb(181, 181, 181);

//---------------------------------------
$h1h2font: clamp(25px, 16vw, 58px);
$h1h2weight: 600;

$h3h4font: clamp(28px, 5vw, 30px);

$h5font: clamp(14px, 3vw, 16px);

$h6pfont: clamp(14px, 3vw, 15px);

.theme-light {
	//background-color: $softLightBackground;
	color: black;

	h1,
	h2 {
		font-size: $h1h2font;
		color: rgb(17, 17, 17);
		font-weight: $h1h2weight;
		line-height: 1;
	}
	h2 {
		color: $lightText;
	}

	h3,
	h4 {
		font-size: $h3h4font;
		color: rgb(32, 32, 32);
		font-weight: 600;
	}

	h4 {
		color: $lightText;
	}

	h5 {
		color: black;
		font-size: $h5font;
		font-weight: 600;
	}

	h6,
	p,
	li {
		font-size: $h6pfont;
		font-weight: 500;
		color: $lightText;
	}
	h6,
	li {
		color: rgb(0, 0, 0);
	}
}

.theme-dark {
	//	background-color: $softDarkBackground;
	color: white;

	h1,
	h2 {
		font-size: $h1h2font;
		color: white;
		font-weight: $h1h2weight;
		line-height: 1;
	}
	h2 {
		color: $darkText;
	}

	h3,
	h4 {
		font-size: $h3h4font;
		color: white;
		font-weight: 400;
	}
	h4 {
		color: $darkText;
	}

	h5 {
		color: white;
		font-size: $h5font;
		font-weight: 600;
	}

	h6,
	p,
	li {
		font-size: $h6pfont;
		font-weight: 400;
		color: $darkText;
	}
	h6,
	li {
		color: white;
	}
}

button {
	border-radius: 6px;
	padding: 4px 10px;
	border: 0;
	background-color: $main;
	cursor: pointer;

	&:hover {
		background-color: $mainLight;
	}
}
