@import "../../../theme/theme.scss";

.back {
	@include themify($themes) {
		display: flex;
		align-items: center;
		gap: 2px;

		.ut-back-icon {
			cursor: pointer;
		}

		.other-redirect {
			margin-left: 10px;
			cursor: pointer;

			p {
				&:hover {
					color: $main;
				}
			}
		}
	}
}
