@import "./../../../../theme/theme.scss";

.double-split {
	@include themify($themes) {
		@media (max-width: 900px) {
			margin: 20px 0;
		}

		.double-split-image-container {
			position: relative;
			width: 90%;
			height: 90%;
			overflow: hidden;
			border-radius: 12px;

			@media (max-width: 500px) {
				border-radius: 9px;
			}

			.double-split-image {
				object-fit: cover;
			}

			@media (max-width: 900px) {
				height: clamp(250px, 50vw, 400px);
				width: 100%;
			}
		}

		.double-split-text-container {
			max-width: 500px;
			display: flex;
			flex-direction: column;
			gap: 15px;

			button {
				/* border: 0;
				background-color: $secondary;
				padding: 15px 25px;
				cursor: pointer;
				border-radius: 25px; */
				padding: 6px 15px;

				p {
					color: white;
					//font-weight: 500;
				}
			}

			ol {
				list-style: circle;

				li {
					margin-left: 20px;
				}
			}
		}
	}
}
