@import "../../../theme/theme.scss";
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (min-width: 1200px) {
		display: none;
	}

	.bg {
		z-index: 1100;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 70vw;
		background-color: $main;

		.links {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;

			p {
				font-size: 28px;
				color: white;
			}
		}
	}

	button {
		z-index: 1200;
		position: fixed;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: fixed;
		top: 3px;
		left: 7px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: white;
	}
}
